<div class="footer">
  <div class="container mb-3">
    <div class="nav">
      <a class="nav-link active mt-2" aria-current="page" routerLink="/inicio"
        >Inicio</a
      >
      <a class="nav-link active mt-2" routerLink="/contenido/0">Películas</a>
      <a class="nav-link active mt-2" routerLink="/proximamente"
        >Próximamente</a
      >
      <a class="nav-link active mt-2" routerLink="/nosotros">Nuestro equipo</a>
      <a class="nav-link active mt-2" routerLink="/reservaciones"
        >Lista de reservaciones</a
      >
    </div>
  </div>
  <img src="assets/img/Logo.png" alt="" />
  <h1>CineFaction</h1>
  <p style="color: #97a7e7"><i>El cine nunca fue tan personal</i></p>
</div>
