<div
  class="container mt-5"
  [ngClass]="{
    'texto-grande': accService.letraGrandeBooleanServicio,
    'texto-alineado': accService.alinearTextoBooleanServicio
  }"
>
  <h1
    class="text-center"
    (mouseenter)="leerTexto1($event)"
    (mouseleave)="cancelarVoz()"
  >
    Nuestro equipo de trabajo
  </h1>
  <div class="row mt-3 d-flex justify-content-center">
    <div class="card border-0" style="width: 90%">
      <div class="card-body">
        <h3 class="card-title text-center" (mouseenter)="leerTexto1($event)">
          Sobre nosotros
        </h3>
        <p (mouseenter)="leerTexto1($event)" class="card-text">
          En nuestro cine, nos apasiona brindar una experiencia única y
          emocionante a todos nuestros espectadores. Desde nuestra apertura, nos
          hemos comprometido a ser el destino preferido para los amantes del
          cine en nuestra comunidad y más allá. Nos enorgullece ofrecer una
          amplia selección de películas de alta calidad, junto con comodidades
          modernas y un servicio excepcional. ¡Bienvenidos a nuestro mundo del
          cine!
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-2 d-flex justify-content-center">
    <div class="card border-0" style="width: 90%">
      <div class="card-body">
        <h3 class="card-title text-center">Visión</h3>
        <p class="card-text">
          Nuestra visión es convertirnos en el principal destino cinematográfico
          de nuestra región, reconocidos por nuestra excelencia en la selección
          de películas y la calidad de nuestras instalaciones. Buscamos ser el
          lugar al que la comunidad acuda no solo para disfrutar de películas,
          sino también para experimentar eventos especiales, estrenos exclusivos
          y actividades culturales relacionadas con el cine. Además, nos
          esforzamos por fomentar una atmósfera acogedora y amigable, donde los
          espectadores se sientan parte de nuestra familia cinematográfica.
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-2 d-flex justify-content-center">
    <div class="card border-0" style="width: 90%">
      <div class="card-body">
        <h3 class="card-title text-center">Misión</h3>
        <p class="card-text">
          Nuestra misión es ofrecer entretenimiento de primer nivel y momentos
          inolvidables a través de la magia del cine. Nos esforzamos por
          seleccionar cuidadosamente una variedad de películas de diferentes
          géneros y estilos, para satisfacer los gustos de todos nuestros
          espectadores. Además, nos comprometemos a proporcionar una experiencia
          excepcional en cada visita, asegurándonos de que cada detalle, desde
          la calidad de proyección hasta la comodidad de nuestros asientos, esté
          diseñado pensando en el disfrute de nuestros invitados.
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="row mt-5">
    <h1 class="text-center mb-5 w-100">Preguntas frecuentes</h1>
    <p class="text-center w-100">
      <button
        class="btn btn-primary btn-lg boton"
        type="button"
        data-toggle="collapse"
        data-target="#Q1"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        ¿Es necesario registrarse para hacer una reservación?
      </button>
    </p>
    <div class="collapse w-100 text-center" id="Q1">
      <div
        class="card card-body h5"
        [ngClass]="{
          'texto-grande': accService.letraGrandeBooleanServicio,
          'texto-alineado': accService.alinearTextoBooleanServicio
        }"
      >
        Sí, es necesario registrarse en nuestro sistema para poder realizar la
        reservación de una sala privada de cine.
      </div>
    </div>

    <p class="text-center mt-3 w-100">
      <button
        class="btn btn-primary btn-lg boton"
        type="button"
        data-toggle="collapse"
        data-target="#Q2"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        ¿Puedo elegir la película que se proyectará en la sala privada?
      </button>
    </p>
    <div class="collapse mb-5 w-100 text-center" id="Q2">
      <div
        class="card card-body h5"
        [ngClass]="{
          'texto-grande': accService.letraGrandeBooleanServicio,
          'texto-alineado': accService.alinearTextoBooleanServicio
        }"
      >
        Sí, puedes elegir la película que deseas ver de entre las opciones
        disponibles en nuestro catálogo.
      </div>
    </div>

    <p class="text-center mt-3 w-100">
      <button
        class="btn btn-primary btn-lg boton"
        type="button"
        data-toggle="collapse"
        data-target="#Q3"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        ¿Cómo puedo saber qué películas están disponibles para reservar?
      </button>
    </p>
    <div class="collapse mb-5 w-100 text-center" id="Q3">
      <div
        class="card card-body h5"
        [ngClass]="{
          'texto-grande': accService.letraGrandeBooleanServicio,
          'texto-alineado': accService.alinearTextoBooleanServicio
        }"
      >
        En nuestro sistema de reservaciones, encontrarás un catálogo actualizado
        con todas las películas disponibles para proyección en las salas
        privadas.
      </div>
    </div>

    <p class="text-center mt-3 w-100">
      <button
        class="btn btn-primary btn-lg boton"
        type="button"
        data-toggle="collapse"
        data-target="#Q4"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        ¿Puedo elegir la sala en la que se proyectará la película?
      </button>
    </p>
    <div class="collapse mb-5 w-100 text-center" id="Q4">
      <div
        class="card card-body h5"
        [ngClass]="{
          'texto-grande': accService.letraGrandeBooleanServicio,
          'texto-alineado': accService.alinearTextoBooleanServicio
        }"
      >
        Sí, puedes seleccionar la sala privada de cine en la que te gustaría ver
        la película, siempre y cuando esté disponible en la fecha y hora que
        elijas.
      </div>
    </div>

    <p class="text-center mt-3 w-100">
      <button
        class="btn btn-primary btn-lg boton"
        type="button"
        data-toggle="collapse"
        data-target="#Q5"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        ¿Hay algún límite en el número de personas que pueden asistir a una
        proyección en la sala privada de cine?
      </button>
    </p>
    <div class="collapse mb-5 w-100 text-center" id="Q5">
      <div
        class="card card-body h5"
        [ngClass]="{
          'texto-grande': accService.letraGrandeBooleanServicio,
          'texto-alineado': accService.alinearTextoBooleanServicio
        }"
      >
        Cada sala privada tiene un límite de capacidad establecido. Te
        proporcionaremos información sobre el número máximo de personas
        permitidas al momento de realizar la reservación.
      </div>
    </div>

    <p class="text-center mt-3 w-100">
      <button
        class="btn btn-primary btn-lg boton"
        type="button"
        data-toggle="collapse"
        data-target="#Q6"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        ¿Se ofrece servicio de alimentos y bebidas en las salas privadas de
        cine?
      </button>
    </p>
    <div class="collapse mb-5 w-100 text-center" id="Q6">
      <div
        class="card card-body h5"
        [ngClass]="{
          'texto-grande': accService.letraGrandeBooleanServicio,
          'texto-alineado': accService.alinearTextoBooleanServicio
        }"
      >
        Sí, ofrecemos servicios de alimentos y bebidas en las salas privadas de
        cine. Puedes elegir entre diferentes opciones de menú al hacer tu
        reservación.
      </div>
    </div>
    <p class="my-4 text-light">fse</p>
  </div>
</div>
