.texto-grande{
    font-size: larger;
}

.link-grande{
    background-color: yellow;
    color: black;
    font-size: larger;
    font-weight: bold;
    font-family: "Metropolis", sans-serif;
}

.texto-alineado{
    text-align: justify;
}