<div class="container mt-5" >
    <h2 class="text-center">Conocenos un poco mejor :D</h2> <br>
    <h2>Sobre nosotros</h2>
    <p>En nuestro cine, nos apasiona brindar una experiencia única y emocionante a todos nuestros espectadores. Desde nuestra apertura, nos hemos comprometido a ser el destino preferido para los amantes del cine en nuestra comunidad y más allá. Nos enorgullece ofrecer una amplia selección de películas de alta calidad, junto con comodidades modernas y un servicio excepcional. ¡Bienvenidos a nuestro mundo del cine!</p>
    <h2>Misión</h2>
    <p>Nuestra misión es ofrecer entretenimiento de primer nivel y momentos inolvidables a través de la magia del cine. Nos esforzamos por seleccionar cuidadosamente una variedad de películas de diferentes géneros y estilos, para satisfacer los gustos de todos nuestros espectadores. Además, nos comprometemos a proporcionar una experiencia excepcional en cada visita, asegurándonos de que cada detalle, desde la calidad de proyección hasta la comodidad de nuestros asientos, esté diseñado pensando en el disfrute de nuestros invitados.</p>
    <h2>Visión</h2>
    <p>Nuestra visión es convertirnos en el principal destino cinematográfico de nuestra región, reconocidos por nuestra excelencia en la selección de películas y la calidad de nuestras instalaciones. Buscamos ser el lugar al que la comunidad acuda no solo para disfrutar de películas, sino también para experimentar eventos especiales, estrenos exclusivos y actividades culturales relacionadas con el cine. Además, nos esforzamos por fomentar una atmósfera acogedora y amigable, donde los espectadores se sientan parte de nuestra familia cinematográfica.</p>
    <br>
    <p-card header="Juan Ruben Bautista Rangel" subheader="CEO" [style]="{ width: '240px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../assets/img/rr.jpg" />
        </ng-template>
        <p>
            Quiero compartirles con alegría que soy gay y estoy orgulloso de serlo. Gracias por su amor y apoyo incondicional.
        </p>
    </p-card> 
    <p-card header="Erick Eduardo Gonzalez Esparza" subheader="CEO" [style]="{ width: '240px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../assets/img/ee.jpg" />
        </ng-template>
        <p>
            Quiero compartirles con alegría que soy gay y estoy orgulloso de serlo. Gracias por su amor y apoyo incondicional.
        </p>
    </p-card>
    <p-card header="Diego Alejandro Mendieta Medrano" subheader="Solista" [style]="{ width: '240px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../assets/img/dd.jpg" />
        </ng-template>
        <p>
            Quiero compartirles con alegría que soy gay y estoy orgulloso de serlo. Gracias por su amor y apoyo incondicional.
        </p>
    </p-card>
    <p-card header="Victor Mauricio Castañeda Proa" subheader="Solista" [style]="{ width: '240px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../assets/img/mm.jpg" />
        </ng-template>
        <p>
            Quiero compartirles con alegría que soy gay y estoy orgulloso de serlo. Gracias por su amor y apoyo incondicional.
        </p>
    </p-card>
</div>

