<div class="container mt-5">
  <h1 class="text-center">Nuestro equipo de trabajo</h1>
  <br />
  <div class="row mt-5">
    <div class="col-4">
      <div class="card text-white bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text">
            Nuestra visión es convertirnos en el principal destino
            cinematográfico de nuestra región, reconocidos por nuestra
            excelencia en la selección de películas y la calidad de nuestras
            instalaciones. Buscamos ser el lugar al que la comunidad acuda no
            solo para disfrutar de películas, sino también para experimentar
            eventos especiales, estrenos exclusivos y actividades culturales
            relacionadas con el cine. Además, nos esforzamos por fomentar una
            atmósfera acogedora y amigable, donde los espectadores se sientan
            parte de nuestra familia cinematográfica.
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-white bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Sobre nosotros</h5>
          <p class="card-text">
            En nuestro cine, nos apasiona brindar una experiencia única y
            emocionante a todos nuestros espectadores. Desde nuestra apertura,
            nos hemos comprometido a ser el destino preferido para los amantes
            del cine en nuestra comunidad y más allá. Nos enorgullece ofrecer
            una amplia selección de películas de alta calidad, junto con
            comodidades modernas y un servicio excepcional. ¡Bienvenidos a
            nuestro mundo del cine!
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-white bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Misión</h5>
          <p class="card-text">
            Nuestra misión es ofrecer entretenimiento de primer nivel y momentos
            inolvidables a través de la magia del cine. Nos esforzamos por
            seleccionar cuidadosamente una variedad de películas de diferentes
            géneros y estilos, para satisfacer los gustos de todos nuestros
            espectadores. Además, nos comprometemos a proporcionar una
            experiencia excepcional en cada visita, asegurándonos de que cada
            detalle, desde la calidad de proyección hasta la comodidad de
            nuestros asientos, esté diseñado pensando en el disfrute de nuestros
            invitados.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row mt-5">
    <div class="col-3">
      <p-card
        header="Juan Ruben Bautista Rangel"
        subheader="Socio 1"
        [style]="{ width: '240px' }"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../assets/img/rr.jpeg" />
        </ng-template>
        <p>
          Emprendedor apasionado y visionario con un profundo amor por el mundo
          del cine. Con una perspicacia empresarial excepcional, ha logrado
          construir y hacer crecer su imperio cinematográfico, su compromiso con
          la calidad y la innovación se refleja en cada aspecto del cine, desde
          la selección de películas hasta las comodidades ofrecidas a los
          espectadores.
        </p>
      </p-card>
    </div>
    <div class="col-3">
      <p-card
        header="Erick Eduardo Gonzalez Esparza"
        subheader="Socio 2"
        [style]="{ width: '240px' }"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../assets/img/ee.jpeg" />
        </ng-template>
        <p>
          Destacado por su capacidad para tomar decisiones audaces y mantenerse
          al tanto de las últimas tendencias y tecnologías. Su carisma y
          habilidades de comunicación le permiten establecer relaciones sólidas
          con empleados y socios clave. Su enfoque en la calidad y la
          experiencia del cliente impulsa su búsqueda constante de innovación.
          Amante de Bladee y de Ritorukai de los alucines
        </p>
      </p-card>
    </div>
    <div class="col-3">
      <p-card
        header="Diego Alejandro Mendieta Medrano"
        subheader="Socio 3"
        [style]="{ width: '240px' }"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../assets/img/dd.jpeg" />
        </ng-template>
        <p>
          Con una mentalidad empresarial aguda y una visión a largo plazo, ha
          desempeñado un papel fundamental en la expansión y crecimiento del
          cine. Su capacidad para establecer relaciones sólidas con socios clave
          ha permitido la creación de alianzas estratégicas beneficiosas para
          ambas partes.
        </p>
      </p-card>
    </div>
    <div class="col-3">
      <p-card
        header="Victor Mauricio Diaz Castañeda"
        subheader="Socio 4"
        [style]="{ width: '240px' }"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../assets/img/mm.jpg" />
        </ng-template>
        <p>
          Demuestra un fuerte sentido de responsabilidad social. Está
          comprometido con promover el cine como una forma de arte y
          entretenimiento que une a las personas y fomenta la diversidad
          cultural. Colabora con organizaciones locales y sin fines de lucro
          para organizar proyecciones especiales y eventos benéficos, brindando
          acceso al cine a aquellos que pueden tener limitaciones económicas.
        </p>
      </p-card>
    </div>

    <h5 class="text-center mt-5">
      El siguiente sitio forma parte de un proyecto académico, no está
      relacionado a ningún negocio ni organización con fines de lucro
    </h5>
  </div>
</div>
