<div class="fondo" style="background-image: url('../assets/img/fondo3.jpg');">
    <div class="encima">
        <div class="encima2">
            <p class="t" style="font-size: 2.5em;">¡Bienvenido a CineFaction!</p>
            <p  class="t">El lugar perfecto para rentar <span style="color: #d261fb">SALAS DE CINE PRIVADAS</span> en donde podrás ver tus películas favoritas</p>
            <a class="btn shadow-lg" routerLink="/contenido">Revisar catálogo</a>
        </div>
    </div>
</div>
<div class="container mt-3">
    <h2 class="text-center">Nuestros próximos estrenos</h2>
    <h5 class="text-center">Nuestra cartelera va creciendo con el tiempo, pues las películas se quedan de forma permanente</h5>
    <div class="row mt-5">
        <div class="col-3">
            <p-card header="Pulp Fiction">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere1.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>Quentin Tarantino</p>
            </p-card>
        </div>
        <div class="col-3">
            <p-card header="Forrest Gump">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere2.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>Robert Zemeckis</p>
            </p-card>
        </div>
        <div class="col-3">
            <p-card header="Matrix">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere3.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>Lilly Wachowski</p>
            </p-card>
        </div>
        <div class="col-3">
            <p-card header="Fight Club">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere4.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>David Fincher</p>
            </p-card>
        </div>
        
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <p-card header="Titanic">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere5.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>James Cameron</p>
            </p-card>
        </div>
        <div class="col-3">
            <p-card header="The Lion King">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere6.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>Rob Minkoff</p>
            </p-card>
        </div>
        <div class="col-3">
            <p-card header="Inception">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere7.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>Christopher Nolan</p>
            </p-card>
        </div>
        <div class="col-3">
            <p-card header="Trainspotting">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../assets/img/premiere8.jpg" />
                </ng-template>
                <p><span class="h6">Director: </span>Danny Boyle</p>
            </p-card>
        </div>
        
    </div>
</div>
