<div class="fondo" style="background-image: url('../assets/img/fondo3.jpg');">
    <div class="encima">
        <div class="encima2">
            <p style="font-size: 2.5em;">¡Bienvenido a CineFaction!</p>
            <p>El lugar perfecto para rentar <span style="color: #d261fb">SALAS DE CINE PRIVADAS</span> en donde podrás ver tus películas favoritas</p>
            <a class="btn shadow-lg" routerLink="/contenido">Revisar catálogo</a>
        </div>
    </div>
</div>
<div>
    <h2>djsfisjifjesif</h2>
</div>
